#opening{
    display: none;
}


body {
  position: relative;
}
li, p, form, button, address{
    font-family: 'Arima Madurai', cursive;
    font-size:24px;
}
h1{
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-size:48px;
}
textarea{
    width:100%;
    font-size:20px;
}
#projectLabel{
    left:0;
}
.fancyLines{
    margin:0 auto;
    width:50%;
}

.modalImg{
    width:450px;
    margin:0 auto;
}
/* Nav Bar CSS */
.navbar{
    background-color:#e0d5e0;
    color:#632e63;
}

/* unvisited link */
a:link {
    color:#b34a7e;
}

/* visited link */
a:visited {
    color: #291621;
}

/* mouse over link */
a:hover {
    color: #632e63;
}

/* selected link */
a:active {
    color: orange;
    text-decoration: underline;
}

/* Header CSS */



/* Section CSS */

#myContact, #contactMe{
    background-color: white;
}

/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */

#headshot{
    height:500px;
    margin:0 auto;
    margin-bottom: 200px;

}
#headshot{
    text-align: center;
	border: 1px dashed #942794;
	box-shadow: 0 0 0 3px #632e63, 0 0 0 5px #ddd, 0 0 0 10px #632e63, 0 0 2px 10px #eee;
}
#nameLogo{
    width:500px;
    margin:0 auto;
}

@media(max-width: 768px) {
    #headshot{
        height:250px;
        margin: 0 auto;
    }
    #nameLogo{
        width:275px;
    }
    p{
        font-size:16px;
    }
}

.spacer{
    height:50px;
}

#opening, #contact{
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/b4/35/48/b43548cd2cb3cf426d43de3ffc1ab898.jpg");
        height:100%;
}
