
/*Full Page Styling*/

body {
  position: relative;
}
li, p, form, button, address{
    font-family: 'Arima Madurai', cursive;
    font-size:24px;
}
h1{
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-size:48px;
}
.fancyLines{
    margin:0 auto;
    width:50%;
}
.spacer{
    height:50px;
}


/*Style for Opening*/

#opening{
    display: none;
}

/*Style for About*/

#headshot{
    height:500px;
    margin:0 auto;
    margin-bottom: 200px;
    text-align: center;
	border: 1px dashed #942794;
	box-shadow: 0 0 0 3px #632e63, 0 0 0 5px #ddd, 0 0 0 10px #632e63, 0 0 2px 10px #eee;
}

/*Style for Projects*/


.close{
    width:20px;
    text-align: left;
    margin:2px;
}
.modal{
    width:80%;
    
}
.modalImg{
    margin:0 auto;
    width:95%;
}
.descriptionBtn{
    border: none;
	background: #e0d5e0;
	color: #632e63;
	padding: 10px;
	font-size: 22px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 50ms ease; 
}
.descriptionBtn:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 0.5s ease;
    
}
.descriptionBtn:hover:before {
	width: 100%;
}
.img-thumbnail{
    margin-bottom: 5px;
}


/*Style for Contact*/

textarea{
    width:100%;
    font-size:20px;
}
#myContact, #contactMe{
    background-color: white;
}







/* Nav Bar CSS */
.navbar{
    background-color:#e0d5e0;
    color:#632e63;
}

/* unvisited link */
a:link {
    color:#b34a7e;
}

/* visited link */
a:visited {
    color: #291621;
}

/* mouse over link */
a:hover {
    color: #632e63;
}

/* selected link */
a:active {
    color: orange;
    text-decoration: underline;
}





#nameLogo{
    width:500px;
    margin:0 auto;
}

@media(max-width: 768px) {
    #headshot{
        height:250px;
        margin: 0 auto;
    }
    #nameLogo{
        width:275px;
    }
    p{
        font-size:16px;
    } 
    h1{
        font-size:30px;
    }
    .fancyLines{
        width:400px;
        height:50px;
    }
}


#opening, #contact{
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/b4/35/48/b43548cd2cb3cf426d43de3ffc1ab898.jpg");
        height:100%;
}

